.wrapper {
  position: relative;
  height: 100vh;
}

.content {
  height: 100vh;
}

.blurred {
  pointer-events: none;
  touch-action: none;
  user-select: none;
  background-color: rgba(90, 90, 90, 0.566) !important;
}

.blurred * {
  background-color: transparent;
}