.day {
  position: relative;
  padding: 5px;
  border-radius: 8px;
  color: #363a47;
  border: 1px solid transparent;
}

.hidden {
  visibility: hidden;
}

.dashed::after {
  display: block;
  content: "";
  width: 30%;
  color: gray;
  position: absolute;
  right: 35%;
  bottom: 15%;
  border-top: 1px solid rgba(150, 150, 150, 0.505);
  border-bottom: 1px solid rgba(150, 150, 150, 0.505);
  border-radius: 2px;
}

.rate-good::after {
  border-top: 1px solid #19c152;
  border-bottom: 1px solid #19c152;
}
.rate-bad::after {
  border-top: 1px solid #ffc700;
  border-bottom: 1px solid #ffc700;
}
.rate-neutral::after {
  border-top: 1px solid #919191;
  border-bottom: 1px solid #919191;
}

.day-prepicked {
  border: 1px solid #77c190;
}

.weekend button {
  color: red;
}

.inactive button {
  color: gray;
}