body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

button {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.button-disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.arrow-right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}