.calendar-wrapper {
  position: absolute;
  width: 100%;
  padding: 20px 15px 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-sizing: border-box;
  max-width: 650px;
  margin: 0 auto;
  max-height: 100%;
  background-color: #fff;
}

.calendar-body {
  width: 90%;
  margin: 0 auto 8%;
  background-color: #fff;
  font-size: 1.1em;
}

.calendar-header {
  font-weight: bold;
  margin-bottom: 32px;
  font-size: 1.4em;
}

.calendar-control {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 25px;
  text-align: center;
  margin-bottom: 5px;
  padding: 0 10px;
}

.calendar-control p {
  font-weight: bold;
  text-transform: capitalize;
  margin: auto;
}

.calendar-control-button {
  position: relative;
  width: 34px;
  height: 34px;
}

.calendar-arrow-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}

.calendar-weekdays {
  display: flex;
  justify-content: space-between;
  text-transform: lowercase;
  color: #818390;
}

.calendar-body > ul:not(ul:last-child) {
  margin-bottom: 2%;
}

.calendar-week {
  display: flex;
  justify-content: space-between;
}

li {
  box-sizing: border-box;
  width: 10%;
  text-align: center;
}

.daypicker-submit {
  display: block;
  background-color: #19c152;
  margin: 0 auto;
  height: 50px;
  max-width: 400px;
  width: 100%;
  border-radius: 12px;
  font-weight: bold;
}